{% extends 'base.html.twig' %}

{% block title %}New Review{% endblock %}

{% block content %}
    <h1>Add new Review</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn" {% if items == null %}disabled{% endif %}>{{ button_label|default('Save') }}</button>
    {{ form_end(form) }}
{% endblock %}
