@media screen and (max-width: 1024px)
{
    .main
    {
        flex-direction: column;
    }
    .photos
    {
        flex-direction: column;
        margin-left: 17%;
    }
    .menu
    {
        justify-content: center;
        align-items: center;
        margin-right: 16%;
    }
    .review
    {
        margin-right: 5%;
    }
}
.logout
{
    font-family: 'Goudy Stout', sans-serif;
    margin-top: 10px;
}
.pagination
{
    font-family: 'Goudy Stout', sans-serif;
    font-size: 18px;
    align-items: center;
    padding-bottom: 30px;
    margin-left: 5%;
}
.pagination a
{
    padding: 10px;
}