<div class="menu">
    <i class="fa fa-angle-down" id="angle-down" onclick="showMenu()"></i>
    <i class="fa fa-angle-up" id="angle-up" onclick="hideMenu()"></i>
    <div>
        <ul id="main_list">
            <li>Paintings</li>
            <ul class="paintings">
                {% for category in categories %}
                    <a href="{{ path('app_category_category', {category: category.slug}) }}"><li>{{ category.name }}</li></a>
                {% endfor %}
            </ul>
            <a href="{{ path('app_main_portfolio') }}"><li>Portfolio</li></a>
            <a href="{{ path('app_review_reviews') }}"><li>Reviews</li></a>
        </ul>
    </div>
</div>